{% extends "layout.html" %}
{% block content %}
<body>
    <header>
        <h1>Fase 3</h1>
    </header>
    <main>
        <ul>
            <li>Data inlezen</li>
            <li>Code sturen</li>
        </ul>
        <p>
            Deze fase lijkt enorm op fase 1, nu alleen voor de mentoren.
        </p>
        <hr>

        <h2>Code's genereren</h2>
        <p>
            De code wordt gegenereerd door een algoritme. 
            De code wordt gegenereerd door een random string van 6 karakters te genereren, deze wordt gelijk naar de mentoren gemaild. 
            Hierna wordt deze string vervolgens ge-hashd met een argon 2 algoritme en opgeslagen in de database.
            Door deze methode is het niet mogelijk om de code te achterhalen.
        </p>
        <form method="POST">
            <label for="confirm">
                Voer hieronder "JA2023" in.
                <strong>Let op!</strong> Deze actie kan niet ongedaan worden gemaakt!
            </label>
            <br>
            <input class="input" type="text" id="confirm" name="confirm" placeholder="Weet je het zeker?" required/><br>
            <button type="submit" class="submit">Code's genereren en versturen</button>
        </form>
        <hr>

        <h2>Code hergeneren</h2>
        <p>
            Indien nodig kan de code altijd her gegenereerd worden. 
            Dit kan handig zijn als de code per ongeluk is verwijderd of als de code niet is aangekomen.
        </p>
        <form method="POST">
            <input class="input" type="text" id="id" name="id" placeholder="Mentor id" required/><br>
            <button type="submit" class="submit">Code hergenereren en versturen</button>
        </form>
    </main>
</body>
{% endblock content %}