{% extends "layout.html" %}
{% block content %}
    <body>
        <header>
            <h1>Voorkeur opgeven</h1>
            <p style="text-align: center;">Sleep de personen om je voorkeur aan te geven. Links heeft het meeste voorkeur en rechtst het minst.</p>
        </header>
        <main class="no-max-width background">
            {% if request.MOBILE %}
                <p>Helaas ondersteunen we op dit moment telefoons nog niet, probeer het via je laptop.</p>
            {% else %}
            {% endif %}

            <div class="drag-area">
                <div class="grid">
                    {% for persoon in personen_lijst %}
                    <div id="{{persoon[0]}}" class="grid-item" draggable="true"><p>{{persoon[1][0]}}</p></div>
                    {% endfor %}
                </div>
            </div>
            <br>
            <button onclick="saveData()">Opslaan</button>
        </main>
    </body>
{% endblock content %}