{% extends "layout.html" %}
{% block content %}
<body>
    <header>
        <h1>Voorkeur opgeven</h1>
        <p style="text-align: center;">Door het rangschikken van de personen kun je je voorkeur aangeven.</p>
    </header>
    <main class="no-max-width background">
        {% if request.MOBILE %}
            <p>Helaas ondersteunen we op dit moment telefoons nog niet, probeer het via je laptop.</p>
        {% else %}
        {% endif %}
        
        <h1> Mentor!!!</h1>
        <div class="drag-area">
            <div class="grid">
                {% for persoon in personen_lijst %}
                <div id="{{persoon[0]}}" class="grid-item" draggable="true"><p>{{persoon[1]}}</p></div>
                {% endfor %}
            </div>
        </div>
        <br>
        <button onclick="saveData()">Opslaan</button>
    </main>
</body>
{% endblock content %}